.singleArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2317;
    width: calc((100% - 30px) / 3);
    margin-bottom: 30px;
    
    img {
        width: 250px;
        height: 329px;
    }

    .favorite, .addedFavorite {
        color: #2b2317;
        font-size: 25px;
        position: absolute;
        right: 880px;
        top: 315px;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .favorite.hidden, .addedFavorite.hidden {
        opacity: 0;
        transform: scale(0.8);
    }

    .favorite {
        &.hidden {
            opacity: 0;
        }
    }

    .addedFavorite {
        cursor: pointer;
        &.hidden {
            opacity: 0;
        }
    }

    h1 {
        font-family: "Lusitana-Regular";
        text-transform: uppercase;
    }

    button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        background-color: #f9f4ee;
        border: 1px solid #2b2317;
        border-radius: 50px;
        font-size: 24px;
        font-family: "Lusitana-Regular";
        color: #2b2317;
        width: 177px;
        padding: 8px 20px;
        cursor: pointer;

        &:hover {
            background-color: #3d3220;
            color: #f9f4ee;
        }

        .direction {
            padding-top: 3px;
        }
    }
}
