.articles {
    width: 100%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    color: #2b2317;

    .navigation {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        position: relative;

        .search-bar {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 100px;
            width: 0;
            // padding-right: 10px;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;

            input {
                all: unset;
                background-color: #ede7e0;
                color: #2b2317 !important;
                font-size: 16px;
                border: none;
                border-radius: 20px;
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 5px;
                box-sizing: border-box;
            }

            &.active {
                width: 400px;
                visibility: visible;
                opacity: 1;
                transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s ease-in-out 0s;
            }
        }

        .search {
            cursor: pointer;
            z-index: 10;
        }

        .sort {
            padding: 0 20px;
            cursor: pointer;
        }
    }

    .articlesList {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
}