.articlePage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #2b2317;

    .navigation {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        position: relative;

        .search-bar {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 100px;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;

            input {
                all: unset;
                background-color: #ede7e0;
                color: #2b2317 !important;
                font-size: 16px;
                border: none;
                border-radius: 20px;
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 5px;
                box-sizing: border-box;
            }

            &.active {
                width: 400px;
                visibility: visible;
                opacity: 1;
                transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s ease-in-out 0s;
            }
        }

        .search {
            cursor: pointer;
            z-index: 10;
        }

        .sort {
            padding: 0 20px;
            cursor: pointer;
        }
    }

    .articleBody {
        padding: 40px 250px;

        .titleSection {
            display: flex;

            .lineWrapper {
                display: flex;
                align-items: center;

                .line {
                    display: inline-block;
                    width: 90px; /* Longueur de la ligne */
                    height: 2px;  /* Épaisseur de la ligne */
                    background-color: #2b2317; /* Couleur de la ligne */
                    vertical-align: middle; /* Pour aligner la ligne au centre du titre */
                    margin-right: 10px;
                }
            }

            .titles {
                display: flex;
                flex-direction: column; /* Empile les titres verticalement */
                justify-content: center; /* Aligne verticalement les titres */

                h1 {
                    margin: 0;
                    font-family: "Lusitana-Regular";
                    font-size: 32px;
                    color: #2b2317;
                    padding-left: 20px;
                    text-transform: uppercase;
        
                    .realign {
                        margin-top: 0; /* Enlève tout espacement entre les titres */
                        padding-left: 0; /* Pas de décalage horizontal */
                    }
                }
            }
        }

        .editionBtns {
            margin: 20px 0 0 0;

            button {
                background-color: #f9f4ee;
                color: #2b2317;
                font-family: "Lusitana-Regular";
                font-size: 16px;
                border: 1px solid #2b2317;
                border-radius: 35px;
                padding: 10px 20px;
                margin: 0 0 0 50px;
                cursor: pointer;

                &:hover {
                    background-color: #3d3220;
                    color: #f9f4ee;
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            margin: 50px 0;
            position: relative;

            img {
                width: 350px;
                height: 480px;
            }
            
            .favorite, .addedFavorite {
                color: #d33232;
                font-size: 30px;
                position: absolute;
                right: 540px;
                top: 20px;
                transition: opacity 0.3s ease, transform 0.3s ease;
                cursor: pointer;
            }
    
            .favorite.hidden, .addedFavorite.hidden {
                opacity: 0;
                transform: scale(0.8);
            }
    
            .favorite {
                &.hidden {
                    opacity: 0;
                }
            }
    
            .addedFavorite {
                &.hidden {
                    opacity: 0;
                }
            }
        }
        
        .paragraphs{
            width: 1350px;
            font-size: 20px;
        }

        .postLine {
            display: block;
            width: 95%;
            height: 1px;
            background-color: #ede7e0;
            align-self: center;
            margin-top: 50px;
        }

        .commentSection {
            margin: 20px 0 0 0;
        }
    }
}