.forum {
    width: 100%;
    height: 74vh;
    color: #2b2317;
    display: flex;
    flex-direction: column;

    .forumBody {
        height: 100%;
        display: flex;

        .forumHome {
            display: flex;
            flex-direction: column;
            color: #2b2317;
            padding: 25px;

            h1 {
                font-family: "Lusitana-Regular";
                font-weight: lighter;
                font-size: 24px;
                margin: 0;
            }

            .postTitle {
                font-size: 20px;
                padding-left: 10px;
            }

            .profile {
                padding-left: 10px;
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 30px;
                    border-radius: 100px;
                    margin-right: 8px;
                    cursor: pointer;
                }

                .pseudo {
                    font-size: 13px;
                    cursor: pointer;
                }
            }

            .post {
                padding-left: 10px;
                font-size: 16px;
            }

            .reactions {
                padding-left: 10px;
                display: flex;
                align-items: center;
                font-size: 25px;

                .nb {
                    padding-left: 6px;
                    font-size: 16px;

                    p:first-child {
                        padding-right: 16px;
                    }
                }
            }

            .postLine {
                display: block;
                width: 95%;
                height: 1px;
                background-color: #ede7e0;
                align-self: center;
                margin-top: 20px;
            }
        }
    }
}