.subscribe {
    width: 100%;
    height: 74vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .leftSection {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        margin-right: 60px;

        .titleSection {
            display: flex;

            .lineWrapper {
                display: flex;
                align-items: center;

                .line {
                    display: inline-block;
                    width: 90px;
                    height: 2px;
                    background-color: #2b2317;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }

            .titles {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    margin: 0;
                    font-family: "Lusitana-Regular";
                    font-weight: lighter;
                    font-size: 32px;
                    color: #2b2317;
                    padding-left: 20px;
        
                    .realign {
                        margin-top: 0;
                        padding-left: 0;
                    }
                }
            }
        }

        .subscribeForm {
            display: flex;
            flex-direction: column;

            .register {
                display: flex;
                flex-direction: column;
                font-size: 24px;
                color: #2b2317;
                padding-top: 15px;
                padding-bottom: 15px;

                label {
                    padding-bottom: 15px;
                }

                input {
                    all: unset; /* Supprime tous les styles par défaut */
                    background-color: #ede7e0 !important;
                    color: #2b2317 !important;
                    font-size: 16px;
                    border: none;
                    border-radius: 20px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 14px;
                    padding-right: 8px;
                    width: 750px;

                    &:focus,
                    &:hover {
                        background-color: #ede7e0 !important; /* Couleur identique */
                        color: #2b2317 !important;           /* Couleur identique */
                        outline: none;            /* Supprime le contour par défaut */
                    }

                    &:-webkit-autofill {
                        background-color: #ede7e0 !important; /* Couleur de fond */
                        color: #2b2317 !important;           /* Couleur du texte */
                        -webkit-box-shadow: 0 0 0 30px #ede7e0 inset !important; /* Fixe le fond */
                        -webkit-text-fill-color: #2b2317 !important; /* Couleur du texte rempli */
                        border-radius: 20px;                /* Conserver le border-radius */
                    }

                    &:-moz-autofill {
                        background-color: #ede7e0 !important;
                        color: #2b2317 !important;
                    }

                    &:-ms-autofill {
                        background-color: #ede7e0 !important;
                        color: #2b2317 !important;
                    }
                }
            }

            .button {
                background-color: #3d3220;
                color: #f9f4ee;
                font-size: 16px;
                font-family: "Lusitana-Regular";
                border: none;
                padding: 10px 25px;
                border-radius: 25px;
                margin-top: 20px;
                cursor: pointer;

                &:hover {
                    background-color: #463924;
                    border: none;
                }
            }

            .account {
                padding-top: 10px;
                color: #2b2317;
                font-size: 16px;

                .fgtPassword {
                    text-decoration: underline;
                    cursor: pointer;
                }

                span {
                    color: #665335;
                    text-decoration: underline;
                    cursor: pointer;
                }

                :visited {
                    color: #2b2317;
                }
            }
        }
    }

    img {
        width: 450px;
        height: 600px;
    }
}