.modalContainer {
    width: 555px;
    height: 100px;
    background-color: #ede7e0;
    box-shadow: 5px 5px 5px #8f8b86;
    color: #2b2317;
    font-size: 22px;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}










